{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %}<h2>{{ _("Project summary") }}</h2>{% endblock %}
{% block page_content %}
<div class="portfolio-project-content" itemscope itemtype="http://schema.org/Organization">
	<div class="row">
		<div class="col-md-4">
			{% if main_image -%}
			<img src="{{ main_image }}" class="main-image"/>
			{%- endif %}
			
		</div>
		<div class="col-md-6">
			<table class="w-100">
				<tr>
					<td>{{ _("Project") }}:</td>
					<td><b>{{ name }}<b></td>
				</tr>
				<tr>
					<td>{{ _("End user") }}:</td>
					<td><b>{{ end_user }}<b></td>
				</tr>
				{% if end_user_logo -%}
				<tr>
					<td></td>
					<td><img src="{{ end_user_logo }}" class="end-user-logo"style="height:80px"/></td>
				</tr>
				{% endif %}
				<tr>
					<td>{{ _("Location") }}:</td>
					<td>{{ project_location }}</td>
				</tr>
				<tr>
					<td>{{ _("Scope") }}:</td>
					<td>{{ project_scope }}</td>
				</tr>
				<tr>
					<td>{{ _("Year") }}:</td>
					<td>{{ _(frappe.utils.get_datetime(project_date).strftime("%Y",)) }}</td>
				</tr>
				<tr>
					<td>{{ _("Volume") }}:</td>
					<td>{{ project_volume }}</td>
				</tr>
				{% if description %}
				<tr>
					<td></td>
					<td>{{ description }}</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

